body {
  margin: 0px;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  margin-left: 30px;
  align-items: center;
}

.logo img {
  margin-right: 12px;
}

.hnav {
  margin-right: 30px;
}

nav a{
  color: black;
}

.hnav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
  margin: 0 64px 74px 64px;
  padding-top: 113px;
}

.column-large {
  display: flex;
  width: 630px;
  flex-flow: column;
  margin-right: 32px;
}

.column-medium {
  display: flex;
  width: 300px;
  flex-flow: column;
  margin-right: 32px;
}

.column-small {
  display: flex;
  width: 240px;
  flex-flow: column;
  margin-right: 32px;
}

.content .title{
  display: flex;
  background-image: url(../Images/drinks.png);
  height: 300px;
  align-items: center;
}

.content .title span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.content .fall {
  display: flex;
  background-image: url(../Images/trees.png);
  height: 300px;
  align-items: center;
}

.content .fall span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.content .camera {
  display: flex;
  background-image: url(../Images/camera.png);
  height: 300px;
  align-items: center;
}

.content .camera span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.content .cat {
  display: flex;
  background-image: url(../Images/cat.png);
  height: 300px;
  align-items: center;
}

.content .cat span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column-large .text-content {
  margin-bottom: 32px;
}

.text-content h2 {
  font-size: 30px;
  font-family: Georgia;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.stories .story {
  width: 300px;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites .bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: block;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
  text-align: center;
}

.footer .info {
  padding-bottom: 20px;
}

.footer nav {
  display: inline-block;
  padding-left: 30px;
}

.footer nav span {
  padding: 10px 20px;
}

.footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 20px;
  display: inline-block;
}
